* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
address,
strong,
i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.text-black {
  color: #000000;
}

.text-purple {
  color: #9b2586;
}

.page-10-header .navbar-brand {
  max-width: 190px;
}
@media (max-width: 767px) {
  .page-10-header .navbar-brand {
    max-width: 140px;
  }
}
.page-10-header .navbar-nav .nav-link {
  font-size: 18px;
  color: #000;
  font-weight: 500;
}
@media (min-width: 992px) {
  .page-10-header .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.page-10-header .navbar-nav .nav-link.corona {
  color: #cc0809;
}
.page-10-header .navbar-nav .nav-link i {
  color: #9b2586;
}

.steps-header .navbar-brand {
  width: 100%;
  max-width: 190px;
}
@media (max-width: 991px) {
  .steps-header .navbar-brand {
    max-width: 140px;
  }
}
.steps-header .steps-slider {
  max-width: calc(100% - 190px);
}
@media (max-width: 991px) {
  .steps-header .steps-slider {
    max-width: calc(100% - 140px);
  }
}
@media (min-width: 992px) {
  .steps-header .steps-slider .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.steps-header .steps-slider .nav-link .number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #cbcbcb;
  color: #fff;
  display: grid;
  place-items: center;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .steps-header .steps-slider .nav-link .number {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
}
.steps-header .steps-slider .nav-link .text {
  color: #3b3c40;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .steps-header .steps-slider .nav-link .text {
    font-size: 14px;
  }
}
.steps-header .steps-slider .nav-link.active .number {
  background-color: #30b67c;
}
.steps-header .steps-slider .nav-link.active .text {
  color: #30b67c;
}
.steps-header .steps-slider .slick-prev {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  z-index: 1;
}

.footer {
  background: url(../images/footer-BG.png) no-repeat center center/cover;
  padding-top: 40px;
}
.footer .footer-description {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  line-height: 20px;
  margin: 30px 0;
}
.footer .link-heading {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #000;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 60px;
}
@media (max-width: 767px) {
  .footer .link-heading {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.footer ul {
  margin-bottom: 30px;
}
.footer ul .footer-link {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  margin: 8px 0;
  display: inline-block;
}
@media (max-width: 767px) {
  .footer ul .footer-link {
    margin: 5px 0;
  }
}
.footer ul .footer-link:hover {
  color: #006f85;
}
.footer ul.pink.social-link .footer-link {
  color: #9b2586;
  margin: 5px 0;
}
.footer ul.pink.social-link .footer-link i {
  padding-right: 10px;
}
.footer ul.cyan.contact-list .footer-link {
  color: #006f85;
}
.footer ul.cyan.contact-list .footer-link i {
  display: block;
  padding-right: 15px;
  padding-top: 5px;
}
.footer .btn.outline-info {
  font-size: 18px;
  font-weight: 500;
  color: #006f85;
  border: 1px solid #006f85;
  border-radius: 25px;
}
.footer .btn.outline-info:hover {
  background-color: #006f85;
  color: #fff;
}
.footer .copyright {
  background: rgba(0, 111, 133, 0.05);
  padding: 30px 0 20px 0;
  margin-top: 20px;
}
.footer .copyright .copyright-text {
  font-size: 14px;
  font-weight: 300;
  color: #000;
}

.page-10-content {
  box-shadow: 0px 0px 12.09px 0.91px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 25px;
  border-top: 5px solid #9b2586;
  border-bottom: 5px solid #9b2586;
  padding: 40px 30px;
  margin: 60px 0;
}
@media (max-width: 991px) {
  .page-10-content {
    padding: 30px 15px;
    margin: 30px 0;
  }
}
.page-10-content .top-heaidng {
  font-size: 26px;
  color: #606060;
  font-weight: 400;
}
@media (max-width: 991px) {
  .page-10-content .top-heaidng {
    font-size: 20px;
  }
}
.page-10-content .donation-amount .form-control {
  background-color: #f5e9f3;
  font-size: 50px;
  color: #9b2586;
  font-weight: 500;
  padding-left: 80px;
}
.page-10-content .donation-amount .form-control::-moz-placeholder {
  color: inherit;
}
.page-10-content .donation-amount .form-control:-ms-input-placeholder {
  color: inherit;
}
.page-10-content .donation-amount .form-control::placeholder {
  color: inherit;
}
.page-10-content .donation-amount .currency {
  font-size: 50px;
  color: #9b2586;
  font-weight: 500;
  line-height: 30px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-40%);
}
.page-10-content .donation-amount .currency span {
  font-size: 20px;
}
.page-10-content .donation-amount small {
  color: #606060;
  font-size: 16px;
}
.page-10-content .donation-amount .tip p {
  font-size: 20px;
  color: #606060;
}
.page-10-content .donation-amount .tip .form-select {
  font-size: 18px;
  color: #606060;
  border-color: #686666;
  padding: 12px 24px;
  border-radius: 10px;
}
.page-10-content .pay-as .heaidng {
  font-size: 20px;
  color: #606060;
  font-weight: 600;
}
.page-10-content .pay-as-card {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow: hidden;
}
.page-10-content .pay-as .nav-tabs .nav-link {
  color: #606060;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}
.page-10-content .pay-as .nav-tabs .nav-link.active {
  color: #000;
  position: relative;
}
.page-10-content .pay-as .nav-tabs .nav-link.active::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
}
.page-10-content .pay-as label {
  font-size: 18px;
  color: #606060;
  font-weight: 300;
  margin-bottom: 5px;
}
.page-10-content .pay-as .form-select,
.page-10-content .pay-as .form-control {
  font-size: 18px;
  color: #606060;
  border-color: #686666;
  padding: 12px 24px;
  border-radius: 10px;
}
.page-10-content .pay-as .form-select::-moz-placeholder, .page-10-content .pay-as .form-control::-moz-placeholder {
  font-weight: 300;
}
.page-10-content .pay-as .form-select:-ms-input-placeholder, .page-10-content .pay-as .form-control:-ms-input-placeholder {
  font-weight: 300;
}
.page-10-content .pay-as .form-select::placeholder,
.page-10-content .pay-as .form-control::placeholder {
  font-weight: 300;
}
.page-10-content .pay-as .btn-submit {
  background-color: #fdb934;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 30px;
  border-radius: 10px;
}
.page-10-content .pay-as .btn-submit:hover {
  background-color: #fca702;
}
.page-10-content .pay-as .footer-link {
  font-weight: 300;
}
.page-10-content .pay-as .footer-link a {
  color: #9b2586;
  font-weight: 400;
  text-decoration: underline;
}
.page-10-content .post-card {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-weight: 500;
}
.page-10-content .post-card .post-title {
  font-size: 20px;
  color: #4a4a4a;
}
.page-10-content .post-card .post-img img {
  border-radius: 10px;
}
.page-10-content .post-card ul li {
  font-size: 18px;
  color: #606060;
}
.page-10-content .about-the-organizer {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.page-10-content .about-the-organizer p {
  color: #606060;
  white-space: pre-line;
}
.page-10-content .about-the-organizer p .fw-600 {
  font-weight: 600;
}

.page-10-login-register .modal-content {
  box-shadow: 0px 0px 19.32px 1.68px rgba(64, 64, 62, 0.16);
}
.page-10-login-register .modal-header {
  background-color: #f4f5ef;
}
.page-10-login-register label.text-semibold {
  color: #3e3f3c;
  font-weight: 600;
  margin-bottom: 5px;
}
.page-10-login-register .radio-label {
  background-color: #f5f9fa;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #585858;
  padding: 10px 5px;
  line-height: 1.2;
  width: 100%;
  height: 100%;
}
.page-10-login-register .form-control {
  background-color: #f5f9fa;
  border-color: rgba(0, 0, 0, 0.25);
  padding: 10px 15px;
  border-radius: 8px;
}
.page-10-login-register .form-control::-moz-placeholder {
  font-weight: 300;
}
.page-10-login-register .form-control:-ms-input-placeholder {
  font-weight: 300;
}
.page-10-login-register .form-control::placeholder {
  font-weight: 300;
}
.page-10-login-register input[type=radio] {
  accent-color: #0c6475;
  width: 20px;
  height: 20px;
}
.page-10-login-register .form-check-input:checked {
  background-color: #0c6475;
  border-color: #0c6475;
}
.page-10-login-register .btn-submit {
  background-color: #0c6475;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 30px;
  border-radius: 10px;
}
.page-10-login-register .btn-submit:hover {
  background-color: #073c47;
}
.page-10-login-register .footer-text {
  color: #3e3f3c;
}
.page-10-login-register .footer-text a {
  color: #0c6475;
  font-weight: 500;
}
.page-10-login-register .footer-text a:hover {
  text-decoration: underline;
}

#information-about-donation .modal-header {
  background-color: #f4f5ef;
}
@media (min-width: 992px) {
  #information-about-donation .modal-body {
    padding: 30px;
  }
}
#information-about-donation .modal-body h5 {
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 20px;
}
#information-about-donation .modal-body p {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  #information-about-donation .modal-body p {
    font-size: 16px;
  }
}

.thanks-page-content {
  padding: 60px 0 100px;
}
.thanks-page-content .success-greeting {
  background-color: #c8f2d4;
  border-radius: 4px;
  max-width: 790px;
  margin: auto;
  padding: 10px 20px;
}
.thanks-page-content .success-greeting .fa-check-circle {
  font-size: 60px;
  color: #27b775;
}
@media (max-width: 575px) {
  .thanks-page-content .success-greeting .fa-check-circle {
    font-size: 40px;
  }
}
.thanks-page-content .success-greeting h1 {
  font-size: 24px;
  font-weight: 600;
  color: #3b3c40;
}
@media (max-width: 575px) {
  .thanks-page-content .success-greeting h1 {
    font-size: 17px;
  }
}
.thanks-page-content .success-greeting p {
  font-size: 14px;
  font-weight: 400;
  color: #3b3c40;
  margin-top: 5px;
}
@media (max-width: 575px) {
  .thanks-page-content .success-greeting p {
    font-size: 12px;
  }
}
.thanks-page-content .appreciate-support {
  font-size: 16px;
  font-weight: 600;
  color: #3b3c40;
}
.thanks-page-content .btn-back {
  background-color: #0c6475;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 30px;
}
.thanks-page-content .btn-back:hover {
  background-color: #073c47;
}

/*=== global css start === */
/*===// end of global css === */
/*=== utility css start === */
/*===// end of utility css === */
/*=== layouts css start === */
/*=== page-10-header css start === */
/*===// end of page-10-header css === */
/*=== steps-header css start === */
/*===// end of steps-header css === */
/*===// end of layouts css === */
/*=== page-10-content css start === */
/*===// end of page-10-content css === */
/*=== _nformation-about-donation css start === */
/*===// end of information-about-donation css === */
/*=== thanks-page-content css start === */
/*===// end of thanks-page-content css === *//*# sourceMappingURL=style.css.map */